html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 10px;
    /* Google fonts 输出的 CSS */
    /* font-family: 'Ma Shan Zheng', cursive; */
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    /* line-height 后而可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #00539F;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
}

/* https://developer.mozilla.org/zh-CN/docs/Learn/CSS/First_steps/Using_your_new_knowledge
    css练习
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted purple;
    color: hotpink;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

a:link, a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
    color: green;
}

ul {
    background-color: #eeeeee;
    border: 5px purple solid;
    padding: 2em;
}

.box {
    border: 5px solid #000;
    border-radius: 10px;
}